* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pet-products>img {
    float: right;
}

.price-container>.hero {
    background: linear-gradient(134.71deg, rgb(248, 204, 251) 1.286%, rgb(172, 210, 253) 100%);
}